nav.navbar.navbar-dark.bg-dark.bg-scarlet {
    background-color: #05caff !important;
}

canvas#board {
    border: 2px solid black;
    background-image: url('https://i.postimg.cc/PfZsZZK2/Based-Field-Zone2.png');
}

button.btn-secondary {
    background-color: #00008B;
    border-color: #05caff;
}

#nextLevelButton {
    display: none;
}
